/* UNIVERSAL RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* INDEX PAGE STYLING */
body {
    padding: 15px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.container {
    text-align: center;
}

.page-title {
    margin: 20px;
    color: burlywood;
}

.recipe-link {
    display: inline-block;
    padding: 10px;
    color:black;
}

/* TOFU-BROCCOLI-RECIPE-STYLE */
header {
    text-align: center;
    margin-bottom: 15px;
}

.recipe-title {
    color:brown

}

.img-container {
    text-align: center;
}

.bottom-margin {
    margin-bottom: 15px;
}

h3 {
    color: rgba(222,184,135,0.7);
}


.ingredients-container, .steps-container  {
    padding-left: 30px;
}

.desc {
    color:burlywood;
}

.desc-para {
    padding-left: 15px;
}

footer {
    text-align: center;
}